* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 700px) {
  header {
    display: flex;
  }

  h2.signin-logo {
    margin: 13px;
  }

  h2 {
    color: #1b4a40;
    font-size: 1.5rem;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }

  div.banner-image {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .banner-image img {
    width: 280px;
    height: 300px;
  }

  section.signin-container {
    width: 70%;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 30px 50px;
    height: 40vh;
    background-color: #a7cfc1;
  }

  .signin-title {
    color: #1b4a40;
    margin-bottom: 15px;
    font-size: 1.5rem;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }

  div.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
  }

  div.form input {
    background-color: transparent;
    border-bottom: 2px solid #1b4a40;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 0.7rem;
    width: 200px;
    color: #1b4a40;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }

  div.form label {
    font-size: 1.2rem;
    padding-top: 20px;
    color: #1b4a40;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }

  button {
    padding: 10px 30px;
    margin-top: 20px;
    background-color: #1b4a40;
    color: #a7cfc1;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    padding-bottom: 15px;
    color: #1b4a40;
    font-size: 1.2rem;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }

  footer a {
    text-decoration: underline;
    color: #ff6584;
    font-size: 1.2rem;
  }
}

/*Desktop View*/

@media (max-width: 1024px) {
}
